@import url('https://fonts.googleapis.com/css2?family=Syne+Mono&display=swap');

body {
	background: #000;
	font-family: "Syne Mono";
    color: #fff;
    text-align: center;
}

header{
    margin-top: 20px;
    margin-bottom: 20px;
}
h1{
    font-size: 3em;
}

canvas {
	margin-left: 1rem;
	margin-top: 1rem;
	margin-bottom: 1rem;
	box-shadow: 4px 4px 8px rgba(0,0,0,0.5);
	background: #fafafa;
}

#controls{
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
}

#controls div{
    width: 40vw;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}

section{
  margin-bottom: 1rem;
}

#playButton{
  font-size: 1.2rem;
  width: 6rem;
    font-family: "Syne Mono";
}

button{
    border: 2px solid white;
    background-color: black;
    color: white;
}

button[data-playing="yes"]:after{
  content: "Pause";
}

button[data-playing="no"]:after{
  content: "Play";
}

#fsButton{
  font-size: 1.2rem;
  width: 10rem;
    font-family: "Syne Mono";
}

/*slider style adapted from w3schools range slider tutorial:
https://www.w3schools.com/howto/howto_js_rangeslider.asp*/

    input[type="range"]{
      -webkit-appearance: none;
      width: 80%;
      height: 15px;
      border-radius: 10px;  
      background: #fff;
      outline: none;

    }

    input[type="range"]::-webkit-slider-thumb {
      -webkit-appearance: none;
      appearance: none;
      width: 15px;
      height: 15px;
      border-radius: 50%; 
      background: #da6d00;
    }